* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.back-image {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -20%);
  width: 100%;
  transition: left 0.8s, top 0.8s;
  z-index: 2;
}

.back-image img {
  width: 100%;
}

.side {
  z-index: 3;
}

.right,
.left {
  position: relative;
  overflow: hidden;
}

.side,
.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Hide register info */
.right .register,
.left .register {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.8s, opacity 0.2s;
}

.right .login,
.left .login {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.8s, opacity 0.2s;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.left,
section.right {
  align-items: stretch;
}

.side {
  flex-direction: column;
  color: #fff;
  letter-spacing: 1px;
}

.side img {
  width: 70%;
  max-width: 70%;
}

.side p {
  width: 80%;
  text-align: center;
  line-height: 28px;
}

.side p.title {
  line-height: 48px;
  font-size: 2em;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.side button {
  background: none;
  color: #fff;
  border: 2px solid;
  padding: 12px 32px;
  margin: 24px;
  margin-bottom: 100px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
}

.side button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 56px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

input {
  width: 100%;
  background: #e6e6e6;
  letter-spacing: 0.5px;
  padding: 14px 64px;
}

input ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}

input:focus ~ i {
  color: #134e5e;
}

button.submit {
  color: #fff;
  background-color: #205c63;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

.register button.submit {
  background-color: #569576;
}

/* ---- REGISTER LAYOUT ----*/

/* Hide login side and main*/
body.signup .right .login,
body.signup .left .login {
  transform: translateX(100%);
  opacity: 0;
}

/* Show register side and main*/
body.signup .right .register,
body.signup .left .register {
  transform: translateX(0);
  opacity: 1;
}

body.signup .back-image {
  left: 100%;
}

/* ---- RESPONSIVENESS ----*/

@media (max-width: 780px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25%;
  }

  body .back-image,
  body.signup .back-image {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -20%);
    width: 200%;
  }

  body .left {
    grid-row: 2;
  }

  body.signup .left {
    grid-row: 1;
  }

  .side img,
  .side .message {
    display: none;
  }

  .side button {
    margin: 8px;
  }

  .side p.title {
    font-size: 1.2em;
    text-transform: capitalize;
  }
} ;
